<h1>Delete Bookmark</h1>

<p>Are you sure you want to delete this bookmark?</p>

<%= link_to 'Back to List', list_path(@list) %>
<%= link_to 'Delete Bookmark', list_bookmark_path(@list, @bookmark), method: :delete, data: { confirm: 'Are you sure?' } %>
